@import "./fonts.scss";

// fonts

$light: 'Gotham Rounded Light', Helvetica, sans-serif;
$medium: 'Gotham Rounded Medium', Helvetica, sans-serif;

// colours

$blue: #24315A;
$black: #000000;
$white: #ffffff;
$grey: #445365;
$lightGrey: #D9D9D9;
$yellow: #F7B61F;

// misc
$transition: cubic-bezier(.86,.23,.15,.76);

$mobile: 768px;
$tablet: 1080px;
$desktop: 1400px;
