@import "../../sass/variables.scss";

.form {
  display: block;
  position: relative;
  z-index: 100;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select {
    border: 0;
    width: 100%;
    outline: none;
    color: $white;
    display: block;
    padding: 14px 0;
    font-size: 24px;
    appearance: none;
    font-weight: 325;
    line-height: 29px;
    transition: .25s $transition;
    background-color: transparent;
    border-bottom: 1px solid rgba($white, 0.7);

    &::placeholder {
      color: rgba($white, 0.4);
    }

    &:focus {
      padding: 14px 0 14px 14px;
      outline: 5px solid rgb(255, 255, 129);
    }
  }

  input[type="submit"] {
    border: 0;
    outline: 0;
    z-index: 20;
    color: $white;
    cursor: pointer;
    font-size: 22px;
    margin-top: 40px;
    appearance: none;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    padding: 15px 70px;
    border-radius: 10px;
    font-family: $medium;
    display: inline-block;
    background-color: $grey;
    transition: .25s $transition;
    box-shadow: rgba($black, 30%) 0px 5px 5px;

    &:focus {
      outline: 5px solid rgb(255, 255, 129);
    }

    @media all and (min-width: 768px) {
      &:hover {
        background-color: $yellow;
      }
    }
  }

  .submit-btn {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    @media all and (min-width: $tablet) {
      text-align: left;
      margin-bottom: 15px;
    }
  }

  .select-outer {
    display: block;
    position: relative;

    select {
      cursor: pointer;
    }

    &:after {
      top: 39%;
      width: 15px;
      content: '';
      right: 20px;
      height: 15px;
      position: absolute;
      pointer-events: none;
      border-right: 3px solid $white;
      border-bottom: 3px solid $white;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .form-check {
    display: flex;
    margin-top: 20px;
    align-items: center;

    label {
      font-size: 20px;
      font-weight: 325;
      line-height: 25px;
      font-family: $light;

      button {
        appearance: none;
        color: $white;
        text-decoration: underline;
        outline: none;
        border: none;
        background: transparent;
        font-size: 20px;
        font-weight: 325;
        line-height: 25px;
        cursor: pointer;
      }

      a {
        color: $white;
        transition: .25s $transition;

        &:focus {
          outline: 5px solid rgb(255, 255, 129);
        }
      }
    }

    input {
      width: 30px;
      height: 30px;
      margin-right: 20px;

      &:focus {
        outline: 5px solid rgb(255, 255, 129);
      }
    }
  }
}

.form-container h4 {
  font-size: 18px;

  @media all and (min-width: 768px) {
    font-size: 32px;
  }
}
