.container {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  z-index: 100;

  &.small {
    max-width: 840px;
  }

  &.medium {
    max-width: 1100px;
  }

  &.large {
    max-width: 1400px;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}
