@import "../../sass/variables.scss";

.content {
  color: $white;
  display: block;
  padding: 30px 0;
  background-color: $blue;

  h1 {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.36em;
    text-transform: uppercase;

    @media all and (min-width: $tablet) {
      font-size: 30px;
      line-height: 48px;
    }
  }

  h2 {
    font-size: 18px;

    span {
      display: block;

      &:first-of-type {
        margin: 0;
        font-weight: 900;
        color: transparent;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $white;

        @media all and (min-width: $mobile) {
          font-size: 75px;
          line-height: 75px;
        }

        @media all and (min-width: $tablet) {
          font-size: 100px;
          line-height: 100px;
        }
      }

      &:last-of-type {
        margin: 15px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;

        @media all and (min-width: $tablet) {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px 0;
  }

  em {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px 0;
  }

  &.none {
    padding: 5px 0;
  }

  &.small {
    padding: 15px 0;

    @media all and (min-width: $tablet) {
      padding: 80px 0;
    }
  }

  &.medium {
    padding: 40px 0;

    @media all and (min-width: $tablet) {
      padding: 80px 0;
    }
  }

  &.large {
    padding: 120px 0;
  }

  &.footer {
    padding: 0 0 120px 0;
  }

  &.marginTop {
    margin-top: 500px;
  }

  svg {
    margin: 0 auto;
    max-width: 150px;
  }

  &.slashtop {
    position: relative;

    &:before {
      left: 0;
      top: -130px;
      z-index: 10;
      content: '';
      width: 100%;
      height: 250px;
      position: absolute;
      transform: skewY(10deg);
      background-color: $blue;

      @media all and (min-width: 1350px) {
        transform: skewY(3deg);
      }

      @media all and (min-width: 3600px) {
        transform: skewY(2deg);
      }
    }
  }

  &.slashbottom {
    position: relative;

    &:before {
      left: 0;
      z-index: 10;
      content: '';
      width: 100%;
      bottom: -130px;
      height: 250px;
      position: absolute;
      transform: skewY(10deg);
      background-color: $blue;

      @media all and (min-width: 1350px) {
        transform: skewY(3deg);
      }

      @media all and (min-width: 3600px) {
        transform: skewY(2deg);
      }
    }
  }
}
